body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: monospace;
  width: 100vw;
  overflow-x: hidden;
}
/* Navbar */
a{
    text-decoration: none;
    color: black;
}
a.active{
    color: #269ce0;
}
a:hover{
    color: #269ce0;
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

header h1,
h4 {
    margin: 0;
    padding: auto 0;
    font-size: 20px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

ul {
    width: 30%;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
}
.glass{
 
  background: linear-gradient(to left bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(2rem);
}
/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    flex: 1;
}

.left,
.right {
    flex: 1;
    margin: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.right{
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.blob {
    width: 300px;
    height: 300px;
    background-color: #269ce0;
    border-radius: 50% 45% 60% 50% / 55% 60% 50% 45%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right h1 {
    margin: 0;
    font-size: 40px;
    font-family: monospace
}

.highlight {
    color: #269ce0;
}
.btn{
    background: #269ce0;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-family: monospace;
    color: #f9f9f9;

}
.btn:hover{
    cursor: pointer;
}
/* Page Content */
.page-section{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    flex: 1;
    align-content: space-between;
    flex-wrap: wrap;
    
}
.wrapper{
    width: 80%;
}
.content{
    width: 80%;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.content strong{
    color: #269ce0;
}
.indent {
    margin: 10px;
}
/* Footer */

footer{
    /* margin-top: auto;     */
    width: 100%;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
footer i{
    font-size: 30px;
    display: inline-block;
    margin: 0 10px;
}
footer i:hover{
    color: #269ce0;
}



/* Media Queries */
@media (max-width: 768px) {
  .hero {
    flex-direction: row;   
    flex-wrap: wrap;           
  }
  nav ul{
    width: 70%;
  }
 

 
}